* {
  box-sizing: border-box;
}
body {
  background-color: #ddd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
.container {
  background-color: white;
  max-width: 600px;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

h1 {
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
#btn {
  border: none;
  text-align: center;
  width: 100% ;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  background-color: lightgreen;
  cursor: pointer;
  margin: 10px 0;
  text-transform: uppercase;
}
#total {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
